Flow_Fleet_T.txt
{
    "name": "Flow_FLEET_T",
    "properties": {
        "activities": [
            {
                "name": "PDM_Fleet_monthly_refresh",
                "type": "DatabricksNotebook",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Pricing/PDM_FLEET_MV/PDM_Fleet_monthly_refresh",
                    "libraries": [
                        {
                            "pypi": {
                                "package": "tabulate"
                            }
                        },
                        {
                            "pypi": {
                                "package": "holidays"
                            }
                        },
                        {
                            "pypi": {
                                "package": "mailjet_rest"
                            }
                        }
                    ]
                },
                "linkedServiceName": {
                    "referenceName": "Databricks_new_cluster_az",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "url": {
                            "value": "@pipeline().globalParameters.DATABRICKS_WORKSPACE_URL",
                            "type": "Expression"
                        },
                        "secret_name": {
                            "value": "@pipeline().globalParameters.KV_SECRET_DATABRICKS_TOKEN",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "Set var run SQL",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "PDM_Fleet_monthly_refresh",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "run_sql_out",
                    "value": {
                        "value": "@string(activity('PDM_Fleet_monthly_refresh').output.runOutput.run_sql_out)",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "If run SQL Fleet",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Set var run SQL",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@or(equals(variables('run_sql_out'),'1'), equals(variables('run_sql_out'),'3'))",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "Wait_False",
                            "type": "Wait",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "waitTimeInSeconds": 1
                            }
                        }
                    ],
                    "ifTrueActivities": [
                        {
                            "name": "Execute PDM_FLEET_MV_copy1",
                            "type": "ExecutePipeline",
                            "dependsOn": [
                                {
                                    "activity": "PDM_FLEET_T",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "PDM_FLEET_MV",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true
                            }
                        },
                        {
                            "name": "PDM_FLEET_T",
                            "type": "ExecutePipeline",
                            "dependsOn": [],
                            "policy": {
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "PDM_FLEET_T",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true
                            }
                        }
                    ]
                }
            },
            {
                "name": "If run SQL copy prev MTH and DS_copy1",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Set var run SQL",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(variables('run_sql_out'),'3')",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "Wait_False_copy1",
                            "type": "Wait",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "waitTimeInSeconds": 1
                            }
                        }
                    ],
                    "ifTrueActivities": [
                        {
                            "name": "PDM_FLEET_T_PREV_MTH",
                            "type": "ExecutePipeline",
                            "dependsOn": [],
                            "policy": {
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "AFS_Transfer",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true
                            }
                        },
                        {
                            "name": "PDM_FLEET_T_2_MTH_OLD",
                            "type": "ExecutePipeline",
                            "dependsOn": [
                                {
                                    "activity": "PDM_FLEET_T_PREV_MTH",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "AFS_Transfer",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true
                            }
                        },
                        {
                            "name": "Ex Fleet to DS",
                            "type": "ExecutePipeline",
                            "dependsOn": [
                                {
                                    "activity": "PDM_FLEET_T_PREV_MTH",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "Fleet_DataCap_to_DS",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true
                            }
                        }
                    ]
                }
            },
            {
                "name": "Send Mail Error 3",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "If run SQL Fleet",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Mail_JSON",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "EmailTo": "\"jaimenoe.benito@aldautomotive.com\"",
                        "HTMLMessage": "[PDM] ERROR on PDM_FLEET_T table copied to the SQL",
                        "Pipeline": {
                            "value": "@pipeline().Pipeline",
                            "type": "Expression"
                        },
                        "Subject": "[DEV] [PDM] ERROR on PDM_FLEET_T table copied to the SQL",
                        "Status": "Error"
                    }
                }
            },
            {
                "name": "Send Mail Error 2",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "If run SQL copy prev MTH and DS_copy1",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Mail_JSON",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "EmailTo": "\"jaimenoe.benito@aldautomotive.com\"",
                        "HTMLMessage": "[PDM] ERROR on PDM_FLEET PRV MONTH table copied to the SQL",
                        "Pipeline": {
                            "value": "@pipeline().Pipeline",
                            "type": "Expression"
                        },
                        "Subject": "[DEV] [PDM] ERROR on PDM_FLEET PRV MONTH  table copied to the SQL",
                        "Status": "Error"
                    }
                }
            },
            {
                "name": "Send Mail Error",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "PDM_Fleet_monthly_refresh",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Mail_JSON",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "EmailTo": "\"jaimenoe.benito@aldautomotive.com\"",
                        "HTMLMessage": "[PDM] ERROR on FLEET databricks",
                        "Pipeline": {
                            "value": "@pipeline().Pipeline",
                            "type": "Expression"
                        },
                        "Subject": "[DEV] [PDM]  [PDM] ERROR on FLEET databricks",
                        "Status": "Error"
                    }
                }
            }
        ],
        "variables": {
            "run_sql_out": {
                "type": "String",
                "defaultValue": "0"
            }
        },
        "folder": {
            "name": "PRICING/FLEET"
        },
        "annotations": [],
        "lastPublishTime": "2024-05-17T08:55:37Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}




The "Flow_FLEET_T" pipeline within Azure Data Factory is designed to manage a comprehensive monthly data-refresh process for fleet-related information, ensuring data accuracy and timely updates with error handling and advanced processing logic. The pipeline begins with the "PDM_Fleet_monthly_refresh" activity, which triggers a Databricks notebook to aggregate and update the latest fleet data for reporting. This activity integrates essential libraries for tasks like data formatting, holiday management, and notifications. Once complete, the pipeline identifies whether it's the 1st, 2nd, or 3rd business day run to dictate the subsequent data-processing steps.

On the 1st or 2nd day run, the pipeline initiates core data updates via two auxiliary pipelines: "PDM_FLEET_T" and "PDM_FLEET_MV." These pipelines are crucial for validating and refreshing fleet data. PDM_FLEET_T is responsible for the overall refresh of core fleet data tables, ensuring up-to-date records across multiple subsidiaries. This includes snapshot creation, data preparation, and accuracy validation. PDM_FLEET_MV synchronizes the updated fleet data with master views, facilitating regional consistency and data consolidation for reporting.

During the 3rd day run, additional processes are triggered to support broader data retention and reporting compliance. The pipeline activates the transfer of previous-month data and updates a two-month-old snapshot, enhancing historical analysis capabilities. This stage also launches the Fleet_DataCap_to_DS pipeline, which synchronizes fleet data with downstream storage to enable month-over-month insights and extended reporting.

Comprehensive error-handling routines are built into the pipeline, with failure notifications at each stage to ensure prompt stakeholder awareness. In case of any failures, email alerts are sent to designated contacts, minimizing response time. With integrated timeouts, retry configurations, and conditional branching, this pipeline efficiently orchestrates the monthly refresh and integrates seamlessly with downstream data operations, enhancing data reliability and reporting accuracy across the fleet management system.
